
<div class="container body-wrapper">
	<div class="panel panel-default">
	  <div class="panel-body">
	    	<div class="row">
	        	<%= partial 'partials/products' %>
	    	</div>
		</div>
	</div>
</div>

